$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
 
  background: $backgroundColor;
  color: $bodyColor;
  font-family: 'Montserrat';
  font-style: normal;
} 

@font-face {
  font-family:'Montserrat';
  src: url(montserrat-v15-latin-regular.ttf);
}P

@font-face {
  font-family:'Open-sans';
  src: url(open-sans-v18-latin-300.ttf);
}∏


.green {
  color: green;
}

.grey {
  color: gray;
}

.greybg {
  background-color: #f8f8f8;
}

.top-banner-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 350px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-content: center;
  justify-content: center;
}

.banner-image-div {
  grid-area: 1 / 1 / 2 / 2;
} //image
.banner-overlay-div {
  grid-area: 1 / 1 / 2 / 2;
} //gradient
.banner-text-div {
  grid-area: 1 / 1 / 2 / 2;
} //text

.banner-image {
  display: grid;
  min-width: 350px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.banner-overlay-div {
  display: grid;
  max-width: 100%;
  background: black;
  background: linear-gradient(
    60deg,
rgba(0, 0, 0, 0.777) 30%,
rgba(255, 255, 255, 0) 100%
  );
}

.banner-text-div {
  display: grid;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

.banner-h1-text {
  font-size: calc(10pt + 0.15vw);
  letter-spacing:  0.05em;
  font-weight: bolder;
  text-transform: uppercase;
  color: white;

}

.banner-body-text {
  font-size: calc(10pt + 0.15vw);
  margin-top: 0.5em;
  color: white;
}

.homepage-body-text {
  font-size: calc(15pt + 0.15vw);
  margin-top: 0.5em;
  color: rgb(51, 51, 51);
}

.banner-btn {
  margin-top: 1em;
}

.banner-btn-item {
  font-size: calc(8pt + 0.15vw);
  padding-top: calc(0.5em + 0.08vw);
  padding-bottom: calc(0.5em + 0.08vw);
  padding-left: calc(0.5em + 0.08vw);
  padding-right: calc(0.5em + 0.08vw);
  color: blue;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid white;
  background-color: white;

  &:link {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }
}

.footer-btn-item {
  font-size: calc(8pt + 0.15vw);
  padding-top: calc(0.5em + 0.08vw);
  padding-bottom: calc(0.5em + 0.08vw);
  padding-left: calc(0.5em + 0.08vw);
  padding-right: calc(0.5em + 0.08vw);
  color: #acd69f;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid white;
  background-color: white;

  &:link {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }
}

.custom-site-footer { 
  border-top: 1px solid #e8e8e8; 
  padding: 5px 0; 
}

.material-icons.green600 { 
  color: #acd69f; 
}

.btn green123 {
  color :#acd69f;
}

.material-icons.md-48 { 
  font-size: 48px; 
}

.material-icons.md-64 { 
  font-size: 64px; 
}


.navbar navbar-expand-lg navbar-light { 
  margin-left: 0px !important
}

.navbar-brand {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-family: 'Montserrat';
  font-size: 26px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  float: left;
}

.my-wrapper {
padding-right: 0.5em;
padding-left: 0.5em;
}


.my-footer-wrapper {
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.frontpage-p{
padding-right: 0.5em;
padding-left: 0.5em;

font-family: Open-sans;
font-weight: 300;
}


.banner-btn a:link{
  color:#942a44 !important;
}