---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- <link rel="stylesheet" href="/assets/css/main.css"> -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
  
  <section class="top-banner-section">

    <div class="banner-image-div">

        <img src="assets/images/hero-image.jpg" alt="banner banner-image-div" class="banner-image">
    </div>
        
        <div class="banner-overlay-div"></div>

        <div class="banner-text-div"> 

            <span class="banner-text">
                <p class="banner-h1-text">Proofreading for Pros</p>
                <p class="banner-body-text">Eagle eyes</p>
                <p class="banner-btn"><a href="https://www.bbc.com" class="banner-btn-item">Get started &#8594;</a></p>
            </span>
  
        </div>
        <h1>yoPrrrraaaos</h1>
</section>




  {{ content }}
<!--
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  -->

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
